# Default values for cronjob.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

# CronJob schedule (required) - cron format: "*/5 * * * *"
schedule: "0 0 * * *"

# Concurrency policy: Allow, Forbid, or Replace
concurrencyPolicy: Forbid

# Number of successful finished jobs to retain
successfulJobsHistoryLimit: 3

# Number of failed finished jobs to retain
failedJobsHistoryLimit: 1

# Optional: Deadline in seconds for starting the job if it misses its scheduled time
startingDeadlineSeconds: null

# Optional: Suspend the cron job
suspend: false

# Optional: Active deadline in seconds for the job
activeDeadlineSeconds: null

# Optional: Number of retries before marking job as failed
backoffLimit: 6

# Optional: TTL in seconds for finished jobs
ttlSecondsAfterFinished: null

# This sets the container image more information can be found here: https://kubernetes.io/docs/concepts/containers/images/
image:
  repository: busybox
  # This sets the pull policy for images.
  pullPolicy: IfNotPresent
  # Overrides the image tag whose default is the chart appVersion.
  tag: ""

# This is for the secrets for pulling an image from a private repository more information can be found here: https://kubernetes.io/docs/tasks/configure-pod-container/pull-image-private-registry/
imagePullSecrets: []
# This is to override the chart name.
nameOverride: ""
fullnameOverride: ""

# This section builds out the service account more information can be found here: https://kubernetes.io/docs/concepts/security/service-accounts/
serviceAccount:
  # Specifies whether a service account should be created
  create: true
  # Automatically mount a ServiceAccount's API credentials?
  automount: true
  # Annotations to add to the service account
  annotations: {}
  # The name of the service account to use.
  # If not set and create is true, a name is generated using the fullname template
  name: ""

# This is for setting Kubernetes Annotations to a Pod.
# For more information checkout: https://kubernetes.io/docs/concepts/overview/working-with-objects/annotations/
podAnnotations: {}
# This is for setting Kubernetes Labels to a Pod.
# For more information checkout: https://kubernetes.io/docs/concepts/overview/working-with-objects/labels/
podLabels: {}

podSecurityContext: {}
  # fsGroup: 2000

securityContext: {}
  # capabilities:
  #   drop:
  #   - ALL
  # readOnlyRootFilesystem: true
  # runAsNonRoot: true
  # runAsUser: 1000

# Restart policy for the container (OnFailure, Never)
restartPolicy: OnFailure

# Environment variables for the container
env: []
# - name: EXAMPLE_VAR
#   value: "example-value"
# - name: SECRET_VAR
#   valueFrom:
#     secretKeyRef:
#       name: my-secret
#       key: secret-key

# Command and args for the container
command: []
args: []

# Secrets configuration
secrets:
  enabled: false
  data: {}
  # auth-secret: "your-secret-key-here"

persistentVolumeClaim:
  enabled: false
  # Storage size for the PVC
  size: 10Gi
  # Access mode for the PVC (ReadWriteOnce, ReadWriteMany, ReadOnlyMany)
  accessModes:
    - ReadWriteOnce
  # Storage class name (empty string uses default storage class)
  storageClassName: ""
  # Mount path for the PVC in the container
  mountPath: /data
  # Annotations for the PVC
  annotations: {}

resources: {}
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  # limits:
  #   cpu: 100m
  #   memory: 128Mi
  # requests:
  #   cpu: 100m
  #   memory: 128Mi

# Additional volumes on the output Job definition.
volumes: []
# - name: foo
#   secret:
#     secretName: mysecret
#     optional: false

# Additional volumeMounts on the output Job definition.
volumeMounts: []
# - name: foo
#   mountPath: "/etc/foo"
#   readOnly: true

# Init containers to run before the main container
initContainers: []

nodeSelector: {}

tolerations: []

affinity: {}


