apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "zulip.fullname" . }}-memcached
  labels:
    {{- include "zulip.memcached.labels" . | nindent 4 }}
spec:
  replicas: 1
  selector:
    matchLabels:
      {{- include "zulip.memcached.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "zulip.memcached.selectorLabels" . | nindent 8 }}
    spec:
      containers:
        - name: memcached
          image: "{{ .Values.memcached.image.repository }}:{{ .Values.memcached.image.tag }}"
          imagePullPolicy: {{ .Values.memcached.image.pullPolicy }}
          ports:
            - name: memcached
              containerPort: 11211
              protocol: TCP
          command:
            - "sh"
            - "-euc"
            - |
              echo 'mech_list: plain' > "$SASL_CONF_PATH"
              echo "zulip@$HOSTNAME:$MEMCACHED_PASSWORD" > "$MEMCACHED_SASL_PWDB"
              echo "zulip@localhost:$MEMCACHED_PASSWORD" >> "$MEMCACHED_SASL_PWDB"
              exec memcached -S
          env:
            - name: SASL_CONF_PATH
              value: "/home/memcache/memcached.conf"
            - name: MEMCACHED_SASL_PWDB
              value: "/home/memcache/memcached-sasl-db"
            - name: MEMCACHED_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.zulip.existingSecret | default (printf "%s-secret" (include "zulip.fullname" .)) }}
                  key: MEMCACHED_PASSWORD
          resources:
            {{- toYaml .Values.memcached.resources | nindent 12 }}
          livenessProbe:
            tcpSocket:
              port: memcached
            initialDelaySeconds: 10
            periodSeconds: 10
          readinessProbe:
            tcpSocket:
              port: memcached
            initialDelaySeconds: 5
            periodSeconds: 5
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}

