apiVersion: v1
kind: Service
metadata:
  name: {{ include "zulip.fullname" . }}-memcached
  labels:
    {{- include "zulip.memcached.labels" . | nindent 4 }}
spec:
  type: ClusterIP
  ports:
    - port: 11211
      targetPort: memcached
      protocol: TCP
      name: memcached
  selector:
    {{- include "zulip.memcached.selectorLabels" . | nindent 4 }}

