apiVersion: v1
kind: Service
metadata:
  name: {{ include "zulip.fullname" . }}-postgresql
  labels:
    {{- include "zulip.postgresql.labels" . | nindent 4 }}
spec:
  type: ClusterIP
  ports:
    - port: 5432
      targetPort: postgresql
      protocol: TCP
      name: postgresql
  selector:
    {{- include "zulip.postgresql.selectorLabels" . | nindent 4 }}


