---
apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: letsencrypt-prod
spec:
  acme:
    server: https://acme-v02.api.letsencrypt.org/directory
    email: thisisamank@gmail.com
    privateKeySecretRef:
      name: letsencrypt-prod
    solvers:
    - http01:
        ingress:
          class: traefik
          podTemplate:
            spec:
              tolerations:
              - key: node
                operator: Equal
                value: prod
                effect: NoSchedule
              - key: node
                operator: Equal
                value: staging
                effect: NoSchedule
