apiVersion: longhorn.io/v1beta2
kind: BackupTarget
metadata:
  name: default
  namespace: longhorn-system
spec:
  backupTargetURL: s3://akxr-backup@us-east-005/
  credentialSecret: backblaze-b2-creds
  pollInterval: 5m0s

