image:
  repository: vaultwarden/server
  tag: "latest"
  pullPolicy: Always

replicaCount: 1

service:
  type: ClusterIP
  port: 80

ingress:
  enabled: true
  className: "traefik"
  annotations:
    traefik.ingress.kubernetes.io/router.entrypoints: web
  hosts:
    - host: vault.akxr.in
      paths:
        - path: /
          pathType: Prefix
  tls:
    - secretName: nexus-tls-prod
      hosts:
        - vault.akxr.in

resources:
  limits:
    cpu: 500m
    memory: 512Mi
  requests:
    cpu: 200m
    memory: 256Mi

podSecurityContext:
  fsGroup: 1000

# Environment variables
env:
  - name: DOMAIN
    value: "https://vault.akxr.in"
  # SMTP Configuration
  - name: SMTP_HOST
    valueFrom:
      secretKeyRef:
        name: vaultwarden-secret
        key: SMTP_HOST
  - name: SMTP_PORT
    valueFrom:
      secretKeyRef:
        name: vaultwarden-secret
        key: SMTP_PORT
  - name: SMTP_SECURITY
    valueFrom:
      secretKeyRef:
        name: vaultwarden-secret
        key: SMTP_SECURITY
  - name: SMTP_FROM
    valueFrom:
      secretKeyRef:
        name: vaultwarden-secret
        key: SMTP_FROM
  - name: SMTP_USERNAME
    valueFrom:
      secretKeyRef:
        name: vaultwarden-secret
        key: SMTP_USERNAME
  - name: SMTP_PASSWORD
    valueFrom:
      secretKeyRef:
        name: vaultwarden-secret
        key: SMTP_PASSWORD

persistentVolumeClaim:
  enabled: true
  storageClassName: "longhorn"
  accessModes:
    - ReadWriteOnce
  size: 5Gi
  mountPath: /data/

podLabels:
  app: vault

livenessProbe: null
readinessProbe: null
