applicationProtocol: http
applicationHost: bookmark.pixr.in

defaultPodOptions:
  nodeSelector:
    kubernetes.io/hostname: talos-ute-nle
  tolerations:
    - key: node-role.kubernetes.io/control-plane
      operator: Exists
      effect: NoSchedule


controllers:
  karakeep:
    type: statefulset

    containers:
      karakeep:
        image:
          repository: ghcr.io/karakeep-app/karakeep
          tag: "0.29.3"

        env:
          NEXTAUTH_URL:  "{{ .Values.applicationProtocol }}://{{ .Values.applicationHost }}"
          DATA_DIR: /data
          MEILI_ADDR: "http://{{ .Release.Name }}-meilisearch:7700"
          BROWSER_WEB_URL: http://{{ .Release.Name }}-chrome:9222

        envFrom:
          - secretRef:
              name: "openai"
          - secretRef:
              name: "karakeep-env"
          
        probes:
          liveness:
            enabled: true
            spec:
              initialDelaySeconds: 10
              httpGet:
                path: /api/health
                port: 3000
          readiness:
            enabled: true
            spec:
              initialDelaySeconds: 10
              httpGet:
                path: /api/health
                port: 3000
                
    statefulset:
      volumeClaimTemplates:
        - name: data
          accessMode: ReadWriteOnce
          size: 2Gi
          globalMounts:
            - path: /data

  chrome:
    containers:
      chrome:
        image:
          repository: gcr.io/zenika-hub/alpine-chrome
          tag: 124

        args:
          - --remote-debugging-address=0.0.0.0
          - --remote-debugging-port=9222
          - --headless
          - --hide-scrollbars
          - --disable-gpu
          - --disable-dev-shm-usage
          - --no-sandbox
          - --disable-setuid-sandbox

        probes:
          liveness:
            enabled: true
            spec:
              httpGet:
                path: /
                port: 9222
          readiness:
            enabled: true
            spec:
              httpGet:
                path: /
                port: 9222

        securityContext:
          allowPrivilegeEscalation: false
          capabilities:
            add:
            - SYS_ADMIN
          readOnlyRootFilesystem: true
          runAsNonRoot: true
          runAsUser: 1000
          runAsGroup: 1000

        resources:
          requests:
            memory: 100Mi
            cpu: 500m
          limits:
            memory: 1Gi
            cpu: 1000m

service:
  karakeep:
    controller: karakeep
    ports:
      http:
        port: 3000
  chrome:
    controller: chrome
    ports:
      http:
        port: 9222

secrets:
  karakeep:
    enabled: false
  meilesearch:
    enabled: false

ingress:
  karakeep:
    hosts:
      - host: "{{ .Values.applicationHost }}"
        paths:
          - path: /
            pathType: Prefix
            service:
              identifier: karakeep
              port: http

persistence:
  chrome-tmp:
    type: emptyDir
    advancedMounts:
      chrome:
        chrome:
          - path: /tmp
            readonly: false

meilisearch:
  auth:
    existingMasterKeySecret: "karakeep-env"
  environment:
    MEILI_ENV: production
  persistence:
    enabled: true
    size: 1Gi
  nodeSelector:
    kubernetes.io/hostname: talos-ute-nle

  tolerations:
    - key: node-role.kubernetes.io/control-plane
      operator: Exists
      effect: NoSchedule