apiVersion: v1
kind: Secret
metadata:
  name: {{ include "ghost.fullname" . }}-config
  labels:
    {{- include "ghost.labels" . | nindent 4 }}
type: Opaque
stringData:
  config.production.json: |
    {
      "url": {{ .Values.ghost.url | quote }},
      "admin": {
        "url": {{ .Values.ghost.url | quote }}
      },
      "server": {
        "port": 2368,
        "host": "0.0.0.0"
      },
      "forceAdminSSL": false,
      "privacy": {
        "useUpdateCheck": false
      },
      "database": {
        "client": "mysql",
        "connection": {
          "host": "{{ include "ghost.fullname" . }}-mysql",
          "port": 3306,
          "user": {{ .Values.mysql.auth.username | quote }},
          "password": "${DATABASE_PASSWORD}",
          "database": {{ .Values.mysql.auth.database | quote }}
        }
      },
      "mail": {
        "transport": "SMTP",
        "from": {{ .Values.ghost.smtp.from | quote }},
        "options": {
          "host": {{ .Values.ghost.smtp.host | quote }},
          "port": {{ .Values.ghost.smtp.port | int }},
          "secure": {{ .Values.ghost.smtp.secure }},
          "auth": {
            "user": {{ .Values.ghost.smtp.user | quote }},
            "pass": "${SMTP_PASSWORD}"
          }
        }
      },
      "logging": {
        "transports": ["stdout"]
      },
      "process": "local"
    }

